#root {
  text-align: center;
}

.search-container {
  max-width: 510px;
  margin: auto;
  justify-content: center;
}

.search-input {
  padding: 4px;
  width: 500px;
}

.search-results {
  text-align: start;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  max-height: 500px;
  overflow-y: scroll;
}

.search-result {
  padding: 2px 5px;
  margin: 0 -5px;
}

.search-result:hover {
  background-color: lightgray;
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
